<?xml  version="1.0" encoding="utf-8" ?>
<phpunit
  colors="true"
  syntaxCheck="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="false"
  >
    <testsuite name="unittests">
            <directory suffix="Test.php">tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./source</directory>
            <file>/path/to/file</file>
            <!--<exclude>-->
                <!--<directory suffix=".php">./source</directory>-->
                <!--<file>/path/to/file</file>-->
            <!--</exclude>-->
        </whitelist>
    </filter>

</phpunit>